@import 'https://fonts.googleapis.com/css?family=PT+Sans';

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-image: url(img/bg.png);
    font-family: 'PT Sans', sans-serif;
}

/* ================== HEADER =================== */
/* ============================================= */

#header_site {
    min-width: 1100px;
    background-color: #93cddd; 
    width: 100%;
    height: 65px;
    position: fixed;
}

#header_position {
    position: relative;
}

nav {
    position: absolute;
    left: 20px;
    margin-top: 20px;
}

nav a {
    color: #ffffff;
    font-size: 1.2em;
    margin-left: 40px;
    font-family: Arial, sans-serif;
}

header img {
    position: absolute;
    right: 20px;
}

/* ================ TITRE PAGE ================= */
/* ============================================= */

#titre_page {
    width: 300px;
    margin: auto;
    padding-top: 100px;
    border-bottom: 2px solid #17365d;
    color: #17365d;
    font-size: 0.8em;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-bottom: 40px;
}

/* ============ SECTION INDEX DU SITE ========== */
/* ============================================= */

#accueil {
    display: flex;
    justify-content: space-around;
}

#accueil header h1{
    color: #17365D;
    text-transform: uppercase;
    font-size: 0.9em;
    margin-bottom: 20px;
    text-align: center;
}

.miniature img, .miniature a {
    display: block;
    margin: auto;
    text-align: center;
}

.miniature a {
    margin-bottom: 10px;
}

.categorie {
    width: 800px;
    height: 550px;
}

.center {
    margin: auto;
    margin-top: 25px;
    width: 750px;
    height: 250px;
    background-color: rgba(147 , 205 , 221 , 0.3);
}

#progression {
    display: flex;
    justify-content: space-around;
}

.center h2 , #center_part2 h2{
    text-align: center;
    color: #16355B;
    font-size: 1.1em;
    padding-top: 7px;
}

.progression {
    margin-top: 10px;
}

.progression p {
    font-size: 0.9em;
    text-align: center;
}

#center_part2 {
    padding: 20px 20px 20px 20px;
}

#center_part2 p {
    margin-top: 30px;
    font-size: 1em;
    color: #636363;
    font-style: italic;
    text-align: center;
}

#photo {
    margin-bottom: 10px;
}

/* ============== SECTION PARCOURS ============= */
/* ============================================= */

#experience {
    display: flex;
    justify-content: space-around;
}

.categorie_curiculum header {
    background-color: rgba(68 , 83 , 145 , 0.8);
    width: 400px;
    height: 30px;
}

.categorie_curiculum header h1 {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 7px;
}

.categorie_curiculum div{
    width: 400px;
    height: 444px;
    border-left: 1px solid #6874A6;
    border-right: 1px solid #6874A6;
    border-bottom: 1px solid #6874A6;
}

.categorie_curiculum div h2 {
    font-size: 1.1em;
    padding-top: 20px;
    margin-left: 10px;
    color: #5C7AD5;
}

.categorie_curiculum div p {
    font-size: 1em;
    margin-top: 5px;
    margin-left: 35px;
    color: #949494;
    font-style: italic;
}

#qualite {
    width: 80%;
    height: 100px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(147 , 205 , 221 , 0.3);
}

#qualite h2 {
    text-align: center;
    font-size: 1.1em;
    padding-top: 10px;
    margin-bottom: 10px;
    color: #5C7AD5;
}

#qualite p {
    color: #636363;
    font-style: italic;
    text-align: center;
}

/* ============ SECTION REALISATIONS =========== */
/* ============================================= */

#miniature_realisation {
    display: flex;
    justify-content: space-around;
}

/* ================ SECTION AJOUT ============== */
/* ============================================= */

.administration { /* pour navigation ajout, correction et suppression*/
    display: flex;
    justify-content: space-around;
    width: 700px;
    margin: auto;
}

.administration a {
    font-weight: bold;
    font-size: 1.1em;
    color: #5C7AD5;
}

#ajout_projet {
    margin-top: 50px;
    margin-bottom: 50px;
}

#insertion {
    margin: auto;
    width: 600px;
    border: 1px solid #6874A6;
}

#insertion legend {
    text-align: center;
    border-bottom: 1px solid #6874A6;
    width: 600px;
    height: 60px;
    padding-top: 15px;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.formulaire_ajout {
    text-align: center;
}

.input_ajout {
    width: 500px;
    height: 30px;
    margin-bottom: 20px;
}

#input_text {
    margin-bottom: 20px;
    width: 500px;
    height: 127px;
}
#bouton_envoie {
    text-align: center;
    margin-bottom: 30px;
}

.bouton_envoie {
    width: 100px;
    height: 40px;
    margin-bottom: 20px;
}




/* ============= SECTION CORRECTION ============ */
/* ============================================= */

table {
    margin: auto;
    margin-top: 20px;
    width: 600px;
    border-collapse: collapse;
}

.menu_tableau {
    text-align: center;
    border: 1px solid #6874A6;
    height: 30px;
}


/* ============= SECTION SUPPRESSION =========== */
/* ============================================= */

/* =============== SECTION CONTACT ============= */
/* ============================================= */

/* ================== MODALES ================== */
/* ============================================= */

.cf:before, .cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.droite {
    float:right;
}
 
.oModal {
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
 
.oModal:target {
    opacity: 1;
    pointer-events: auto;
}
 
.oModal:target > div {
    margin: 10% auto;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
 
.oModal > div {
    width: 70%;
    position: relative;
    margin: 1% auto;
    padding: 8px 8px 8px 8px;
    border-radius: 5px;
    background: #eee;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    text-align: center;
}
 
.oModal > div header,.oModal > div footer {
    border-bottom: 1px solid #e7e7e7;
    border-radius: 5px 5px 0 0;
}
.oModal .footer {
    border: none;
    border-top: 1px solid #e7e7e7;
    border-radius: 0 0 5px 5px;
}
 
.oModal > div h2 {
    margin: 0;
    font-size: 1em;
}
 
.oModal > div .btn {
    float: right;
}

.oModal > div > section > p, .oModal > div > section > a {
    margin-top: 10px;
}

.oModal > div > section > img {
    display: inline-block;
    box-shadow: 3px 3px 8px #333;
}
.oModal > div > section,.oModal > div > header, .oModal > div > footer {
    padding: 15px;
}

/* ============= BARRE PROGRESSION ============= */
/* ============================================= */

/* VOIR COMMENT FAIRE POUR QU'ELLES SOIENT IDENTIQUES SUR CHAQUE NAVIGATEUR !! */

/* ================== FOOTER =================== */
/* ============================================= */


#footer_du_site {
    border-top: 2px solid #548dd4;
    height: 25px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#footer_du_site p {
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    margin-top: 5px;
    color: #222F5F;
}

#footer_du_site a {
    color: #555893;
    font-weight: bold;
}

#contact {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1em;
}

/* ================== MENTION ================== */
/* ============================================= */

#mention_part1 {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#mention_part1 h2 {
    color: ;
    font-size: 1.1em;
    margin-bottom: 10px;
}

#mention_part1 p {
    font-size: 1em;
}

#mention {
    margin-bottom: 10px;
}

#mention h2 {
    text-align: center;
    margin-top: 5px;
}

#mention span {
    font-size: 1.1em;
    text-decoration: underline;
}

#mention p {
    font-size: 1em;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}